<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
		
		<!-- for this page only, make things pretty -->
		<link rel="stylesheet" type="text/css" href="/static/page-player/css/demo.css" />

		<!-- player core CSS -->
		<link rel="stylesheet" type="text/css" href="/static/page-player/css/page-player.css" />

		<!-- optional: annotations/sub-tracks/notes, and alternate themes -->
		<link rel="stylesheet" type="text/css" href="/static/page-player/css/optional-annotations.css" />
		<link rel="stylesheet" type="text/css" href="/static/page-player/css/optional-themes.css" />

		<style type="text/css">
		ul.playlist li .comment {font-size:0.65em;opacity:0.5}
		</style>
		<script type="text/javascript" src="/static/soundmanager/script/soundmanager2.js"></script>
		<script src="/static/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript">

		/* --------

		  Config override: This demo uses shiny flash 9 stuff, overwriting Flash 8-based defaults
		  Alternate PP_CONFIG object must be defined before page-player JS is included/executed.
		  Alternately, edit the config in page-player.js to simply use the values below by default

		-------- */

		// demo only..
		// soundManager.useHighPerformance = true; // keep flash on screen, boost performance
		soundManager.useFastPolling = true; // increased JS callback frequency
		soundManager.url = '/static/soundmanager/swf/';
		// disable debug mode after development/testing..
		// soundManager.debugMode = false;

		var PP_CONFIG = {
		  flashVersion: 9,       // version of Flash to tell SoundManager to use - either 8 or 9. Flash 9 required for peak / spectrum data.
		  usePeakData: true,     // [Flash 9 only] whether or not to show peak data (left/right channel values) - nor noticable on CPU
		  useWaveformData: true, // [Flash 9 only] show raw waveform data - WARNING: LIKELY VERY CPU-HEAVY
		  useEQData: false,      // [Flash 9 only] show EQ (frequency spectrum) data
		  useFavIcon: true,      // try to apply peakData to address bar (Firefox + Opera) - performance note: appears to make Firefox 3 do some temporary, heavy disk access/swapping/garbage collection at first(?)
		  useMovieStar: true     // Flash 9.0r115+ only: Support for a subset of MPEG4 formats.
		}

		</script>
		<script type="text/javascript" src="/static/page-player/script/page-player.js"></script>
	</head>
	<body>
		
		<div id="control-template">
		 <!-- control markup inserted dynamically after each link -->
		 <div class="controls">
		  <div class="statusbar">
		   <div class="loading"></div>
		    <div class="position"></div>
		  </div>
		 </div>
		 <div class="timing">
		  <div id="sm2_timing" class="timing-data">
		   <span class="sm2_position">%s1</span> / <span class="sm2_total">%s2</span></div>
		 </div>
		 <div class="peak">
		  <div class="peak-box"><span class="l"></span><span class="r"></span>
		  </div>
		 </div>
		</div>

		<div id="spectrum-container" class="spectrum-container">
		 <div class="spectrum-box">
		  <div class="spectrum"></div>
		 </div>
		</div>
		
		<div id="wrapper">
			<br/><img src="/static/allinmybox.gif" /><br/>
			
			<div id="instr">
				<br/>pick genres, artists, or tracks. drag them into the timeline. hit submit. DANCE.<br/>
			</div>
			
			

			<script type="text/javascript">
				// script that sets href attr to http://echonest-capsule.s3.amazonaws.com/api_jRSVsUwKfc/1264873778.mp3
				/* <![CDATA[ */
					set_player_url = function(url) {
						$('#mp3-link').attr('href', url);
						pagePlayer.initDOM();
					}
					check_status_code = function(url) {
						$.ajax({
							url: '/check_status_code',
				      type: 'GET',
				      data: ('url='+url),
				      dataType: "json",
				      success: function(data){
				        // alert('status: '+data['status']);
								if (data['status'] == 200) {
									$('#loader-image').hide();
									$('#status-message').html('Done!!');
									set_player_url(url);
								}
								else {
									setTimeout(function(){
										check_status_code(url);
									}, 5000)
								}
				      }
						});
					}
					$(document).ready(function() {
						$('#submit').click(function() {
							// set_player_url('http://echonest-capsule.s3.amazonaws.com/api_jRSVsUwKfc/1264873778.mp3');
							$('#submit').hide();
							$('#loader-image').show();
							$('#status-message').html('Fetching tracks...');
							$.ajax({
								url: '/supa_mix',
					      type: 'POST',
					      data: ('[{"query":"romance", "artist":"", "title":"", "duration":"120"},{"query":"", "artist":"Phoenix", "title":"", "duration":"120"}]'), // ,{"query":"", "artist":"", "title":"Avril 14th", "duration":"120"}
					      dataType: "json",
					      success: function(data){
									$('#status-message').html('Hardcore Echo Nest beat-matching action...(this takes a while)');
					        // alert(data['mp3_url']);
									var mp3_url = data['mp3_url'];
									check_status_code('http://echonest-capsule.s3.amazonaws.com/api_jRSVsUwKfc/1264873778.mp3'); // switch to mp3_url
								}
							});
						});
					});
				/* ]]> */
			</script>

			<ul class="playlist">
			 <li>
			  <a href="#" id="mp3-link">mp3 Playa</a>
			  <div class="metadata">
			    <!-- total track time (for positioning while loading, until determined -->
			   <ul>
			    <li><p>Beginning</p><span>0:00</span></li> <!-- first scene -->
			    <li><p>20</p><span>0:21</span></li> <!-- start time of second scene -->
			    <li><p>40</p><span>4:00</span></li>
			   </ul>
			  </div>
			 </li>
			</ul>

			<br><br><br>
			<a href="#" id="submit">Submit!!</a>
			<img id="loader-image" src="/static/ajax-loader.gif" width="16" height="16" alt="Ajax Loader" style="display:none;"/><br/>
			<span id="status-message"></span>
			
			
		</div>
	</body>
</html>